<h1>Pages#contact</h1>

<p><%= number_to_phone "8018656733" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.80" %></p>

<p><%= number_with_delimiter "1234567891011" %></p>

